{% extends 'base.html.twig' %}

{% block title %}New JobOffer{% endblock %}

{% block body %}
    <h1 style="padding-top:10rem; text-align:center; background-color:#2F3138; margin-top:0; color:white; padding-bottom:2%">Create new JobOffer</h1>

    {{ include('job_offer/_form.html.twig') }}

    <a target="_self" href="{{ path('admin_job_offer_index') }}" class="btn bn-lg gradient secondary btn-block waves-effect waves-light btn-register">
        <span> back to list</span>
    </a>

{% endblock %}
