{% extends 'base.html.twig' %}

{% block title %}New JobCategory{% endblock %}

{% block body %}
    <h1 style="padding-top:10rem; text-align:center; background-color:#2F3138; margin-top:0; color:white ;padding-bottom:2%">Create new JobCategory</h1>

    {{ include('job_category/_form.html.twig') }}

    <a href="{{ path('job_category_index') }}">back to list</a>
{% endblock %}
